@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Mukta:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta";
  color: white;
}

body {
  background-color: #2e2929;
}

#header {
  height: 100vh;
  background-image: url(/webss/Xypo_All_Images/images/background.png);
  background-position: center;
  background-size: cover;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo {
  margin-top: 30px;
  width: 100px;
}

/* header */

.header-text {
  max-width: 350px;
  margin-top: 100px;
}

h1 {
  /* text-shadow: 2px 2px 2px #ea9ab2; */
  font-size: 34px;
  line-height: 40px;
}

.square {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #f67c92;
  margin: 15px 0;
}

.common-btn {
  padding: 12px 36px;
  margin: 10px 0;
  padding: 12px 32px;
  background: linear-gradient(90deg, #f67c92, #ea9ab2);
  border: 2px solid #f67c92;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}

.header-text button {
  margin-top: 20px;
  margin-bottom: 60px;
}

p {
  line-height: 22px;
  font-size: 18px;
  color: rgb(192, 184, 184);
}

.line1 {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #f67c92;
}

.line2 {
  height: 2px;
  width: 70px;
  display: inline-block;
  background-color: #f67c92;
}

.line3 {
  height: 2px;
  width: 50px;
  display: inline-block;
  background-color: #f67c92;
}

.line {
  line-height: 8px;
}

/* navbar */

#navside {
  width: 250px;
  height: 100%;
  position: fixed;
  right: -250;
  top: 0;
  background-color: #f67c92;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#menubtn {
  width: 50px;
  position: fixed;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

/*---about---*/

#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  width: 500px;
  margin-right: 100px;
  display: inline-block;
}

h2 {
  line-height: 30px;
}

.about-text h2 {
  margin: 30px 0 5px;
  font-size: 28px;
  font-style: italic;
}

.about-text h3 {
  font-style: italic;
  font-size: 20px;
  color: rgb(192, 184, 184);
}

#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-col h4 {
  text-transform: capitalize;
}

.features-col {
  flex-basis: 25%;
  text-align: center;
}

.features-col img{
  width: 100px;
}

.features-btn{
  margin: 50px auto 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* cources */

#cources{
  padding: 100px 0;
  margin-top: 100px;

}

.cource-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cource-right-col{
  flex-basis: 50%;
}

.cource-right-col img{
  width: 100%;
}

.cource-left-col{
  flex-basis: 50%;
}

.cource-text button{
  margin: 30px 0;
}

/* offers */

#offers {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.offers-left-col {
  flex-basis: 50%;
}

.offers-left-col img {
  width: 100%;
}

.offers-right-col {
  flex-basis: 50%;
  text-align: right;
}

.offers-text {
  width: 500px;
  margin-right: 100px;
  display: inline-block;
}

h2 {
  line-height: 30px;
}

.offers-text h2 {
  margin: 30px 0 5px;
  font-size: 28px;
  font-style: italic;
}

.offers-text h3 {
  font-style: italic;
  font-size: 20px;
  color: rgb(192, 184, 184);
}

.offers-text button{
  margin: 30px 0;
}

/* contact */

.contact-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,.contact-right-col{
  flex-basis: 50%;
}

.contact-right-col img{
width: 100%;
}

form{
  max-width: 350px;
  margin: 30px 0;
}

form input{
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #f67c92;
  color: black;
}

.btn-box{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.btn-box button{
  flex-basis: 48%;
  padding: 10px 0;
}

/* footer */

#footer{
padding: 50px 0 30px;
}

hr{
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92;

}

.footer-row{
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col{
  flex-basis: 50%;
  margin-top: 60px;
}

.footer-right-col{
  flex-basis: 35%;
}

.footer-links{
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4{
  color: #ea9ab2;
  margin-bottom: 20px;

}

.link-title small{
  font-size: 13px;
  color: rgb(182, 169, 169);
}

.footer-info {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img{
width: 100px;

}

.footer-logo button{
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 10px;
}

.copyright-text,.footer-logo{
  flex-basis: 40%;
}

/* social-icons */

.social-icons{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 29px;
  transform: translate(-50%);
  z-index: 1;
}

.social-icons img{
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

@media only screen and (max-width: 770px){
  
  #header{
    background-image: none;
  }  
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .logo {
    margin-top: 10px;
    width: 50px;
  }
  
  /* header */
  
  .header-text {
    /* max-width: 350px; */
    margin-top: 70px;
  }
  
  h1 {
    /* text-shadow: 2px 2px 2px #ea9ab2; */
    font-size: 20px;
    /* line-height: 40px; */
  }
  #menubtn {
    width: 30px;
    /* position: fixed; */
    right: 10px;
    /* top: 30px; */
    /* cursor: pointer; */
  }
  .common-btn {
    padding: 10px 16px;
    /* margin: 10px 0;
    padding: 12px 32px;
    background: linear-gradient(90deg, #f67c92, #ea9ab2);
    border: 2px solid #f67c92;
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer; */
  }
  .social-icons img{
    /* display: block; */
    width: 14px;
    margin: 15px auto;
    cursor: pointer;
  }
  .about-left-col,.about-right-col{
    flex-basis: 100%;
  }
  .about-text {
    /* width: 500px; */
    margin: 50px 50px 0;
    display: inline-block;
  }
  
  /* h2 {
    line-height: 30px;
  } */
  
  .about-text h2 {
    /* margin: 30px 0 5px; */
    font-size: 18px;
    /* font-style: italic; */
  }
  .features-col{
    flex-basis: 100%;
    margin-bottom: 20px;

  }

  .cource-left-col,.cource-right-col{
    flex-basis: 100%;

  }
  .cource-right-col{
    margin-top: 70px;
  }
  .contact-left-col,.contact-right-col{
    flex-basis: 100%;
  }
  .contact-right-col{
    margin-top: 50px;
  }
  .footer-left-col,.footer-right-col{
    flex-basis: 100%;
  }
  .link-title{
    flex-basis: 50%;
    margin-bottom: 30px;
  }

}